{% load tz %}
<script>
    function loadTooltips() {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    };
</script>
<div class="row" id="git-repositories-table">
    <div id="git-repository-modal"
        class="modal modal-blur fade"
        style="display: none"
        aria-hidden="true"
        tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
    {% include "project/project/git_repository_toast.html" %}
    <div class="row">
        <button
            hx-get="{% url 'project_settings_new_git_repository' %}"
            hx-target="#git-repository-modal"
            hx-target="#git-repository-modal"
            data-bs-toggle="modal"
            data-bs-target="#git-repository-modal"
            class="btn primary"><i class="bi bi-plus-circle"></i></button>
    </div>
    <div class="row">
        <table class="table table-striped table-hover" id="project-git-repositories-table-data">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">URL</th>
                    <th scope="col">Date Created</th>
                </tr>
            </thead>
            <tbody>
            {% for repository in git_repositories %}
            <tr
                hx-get="{% url 'git_repository' repository.id %}"
                hx-target="#git-repository-modal"
                data-bs-toggle="modal"
                data-bs-target="#git-repository-modal">
                <th scope="row" class="text-truncate" style="max-width: 155px;">{{ repository.current.name|safe|upper }}</th>
                <td class="text-truncate" style="max-width: 155px;">{{ repository.current.description|safe }}</th>
                <td class="text-truncate" style="max-width: 155px;">{% if repository.current.url %}{{ repository.current.url|safe }}{% endif %}</td>
                <td class="text-truncate" style="max-width: 155px;">{{ repository.created_on|timezone:logged_in_user.current.timezone }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        new DataTable('#project-git-repositories-table-data', {
            order: [[3, 'desc']],
            language: {
                emptyTable: 'No git repositories available.',
            },
            drawCallback: function (settings) {
                loadTooltips();
            },
        });
    </script>
</div>
