{% load tz %}
<div class="tab-pane fade" id="git-repositories-tab-pane" role="tabpanel" aria-labelledby="git-repositories-tab" tabindex="0">
    <div class="row">
        <h3 class="my-4">Git Repositories <button
            hx-get="{% if project_id %}{% url 'new_project_git_repository' project_id %}{% else %}{% url 'new_project_git_repository' %}{% endif %}"
            hx-target="#git-repository-modal"
            data-bs-toggle="modal"
            data-bs-target="#git-repository-modal"
            class="btn primary"><i class="bi bi-plus-circle"></i></button></h3>
    </div>
    {% include "project/project/git_repositories_table.html" %}
</div>
