{% load tz %}
<div class="modal-dialog modal-xl modal-dialog-centered">
    <script>
        function loadTooltips() {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });
        };
        function setLabelFromName() {
            var name = document.getElementById('id_name').value;
            var label = document.getElementById('id_label');
            label.value = name.toLowerCase().replace(/ /g, '-');
        };
    </script>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">New Project</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form
            hx-post={% url "new_project" %}
            hx-target="#projects-table"
            hx-swap="outerHTML"
            data-bs-toggle="toast"
            data-bs-target="#projects-table">
            <div class="modal-body">
                {% csrf_token %}
                {% if organizations %}
                <div class="row align-items-center">
                    <div class="col-1">
                        <label for="id_organization" class="form-label align-middle">Organization:</label>
                    </div>
                    <div class="col">
                        <select name="organization" id="id_organization" class="form-select">
                            <option value="">-----</option>
                            {% for organization in organizations %}
                            <option value="{{ organization.id }}">{{ organization.current.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% endif %}
                <div class="row align-items-center">
                    <div class="col-1">
                        <label for="id_name" class="form-label">Name:</label>
                    </div>
                    <div class="col">
                        <input type="text" name="name" class="form-control" id="id_name" required onkeyup="setLabelFromName()">
                    </div>
                </div>
                <div class="row align-items-top">
                    <div class="col-1">
                        <label for="id_description" class="form-label">Description:</label>
                    </div>
                    <div class="col">
                        <textarea name="description" class="form-control" id="id_description">{{ project.current.description }}</textarea>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-1">
                        <label for="id_label" class="form-label">Label: </label>
                    </div>
                    <div class="col">
                        <input type="text" name="label" id="id_label" class="form-control" required hx-post="{% url 'check_project_label_availability' %}" hx-trigger="keyup changed delay:1s" hx-target="#project-label-availability">
                    </div>
                    <div class="col">
                        <i id="project-label-availability" class="bi bi-dash-circle" data-bs-toggle="tooltip" data-bs-title="Enter a project label."></i>
                    </div>
                    <div class="col-2">
                        <label for="id_is_active" class="form-label">Is active?</label>
                    </div>
                    <div class="col-1">
                        <input type="checkbox" name="is_active" class="form-check-input mt-9" id="id_is_active" checked>
                    </div>
                    <div class="col-2">
                        <label for="id_is_private" class="form-label">Is private?</label>
                    </div>
                    <div class="col-1">
                        <input type="checkbox" name="is_private" class="form-check-input mt-9" id="id_is_private">
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6">
                        {% include "today_date_selector.html" %}
                    </div>
                    <div class="col-md-6">
                        {% include "unset_date_selector.html" %}
                    </div>
                </div>
                <div class="row align-items-top">
                    <div class="col-2">
                        <label for="id_git_repository" class="form-label">Git Repository:</label>
                    </div>
                    <div class="col">
                        <select name="git_repository" id="id_git_repository" multiple class="form-select">
                            {% if repositories %}
                            {% for repository in repositories %}
                            <option value="{{ repository.id }}">{{ repository }}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="row align-items-top">
                    <div class="col-2">
                        <label for="id_users" class="form-label">Users:</label>
                    </div>
                    <div class="col">
                        <select name="user" id="id_user" multiple class="form-select">
                            {% if users %}
                            {% for user in users %}
                            <option value="{{ user.id }}">{{ user }}{% if user.organizationmembers_set.exists %} {{ user.organizationmembers_set.first.current.name }} {% endif %}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
    <script>
        loadTooltips();
    </script>
</div>
