{% extends 'base.html' %}
{% load tz %}
{% block content %}
<div class="container">
    <h2 class="my-4">Add a new project</h2>
    {% include "messages.html" %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
            <td>{{ new_project_form.name.label_tag }}</td>
            <td>{{ new_project_form.name }}</td>
            </tr>
            <tr>
            <td>{{ new_project_form.description.label_tag }}</td>
            <td>{{ new_project_form.description }}</td>
            </tr>
            <tr>
            <td>{{ new_project_form.is_active.label_tag }}</td>
            <td>{{ new_project_form.is_active }}</td>
            </tr>
            <tr>
            <td>{{ new_project_form.is_private.label_tag }}</td>
            <td>{{ new_project_form.is_private }}</td>
            </tr>
            <tr>
            <td>{{ new_project_form.start_date.label_tag }}</td>
            <td>{{ new_project_form.start_date }}</td>
            </tr>
            <tr>
            <td>{{ new_project_form.end_date.label_tag }}</td>
            <td>{{ new_project_form.end_date }}</td>
            </tr>
            <tr>
            <td>{{ new_project_form.git_repository.label_tag }}</td>
            <td>
                {% if repositories %}
                <select name="git_repository" multiple>
                {% for repository in repositories %}
                    <option value="{{ repository.id }}">{{ repository }}</option>
                {% endfor %}
                </select>
                {% else %}
                <table>
                {{ git_repository_form.as_table }}
                </table>
                {% endif %}
            </td>
            </tr>
        </table>
        <button class="btn btn-primary my-4" type="submit">Submit</button>
    </form>
    <h2 class="my-4">Projects</h2>
    <div class="row">
    {% for project in projects %}
        <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
            <div class="card h-100 p-4">
                <h4><a href="{% url 'project' project.id %}">{{ project.current.name }}</a></h4>
                <p class="text-muted">{{ project.current.description }}</p>
                {% with project_repos=project.git_repository.all %}
                <p class="text-muted">Git Repositories:
                {% for repository in project_repos %}
                    <a href="{% url 'git_repository' repository.id %}">{{ repository }}</a>
                {% endfor %}
                </p>
                {% endwith %}
                {% with project_org=project.organizationprojects_set.first %}
                <p class="text-muted">In organization <a href="{% url 'organization' project_org.id %}">{{ project_org.current.name }}</a></p>
                {% endwith %}
                <p class="text-muted">Created {{ project.created_on|timezone:logged_in_user.current.timezone }} by <a href="{% url 'user' project.created_by.id %}">{{ project.created_by.current.last_name }}, {{ project.created_by.current.first_name }}</a></p>
            </div>
        </div>
    {% empty %}
        <p>No projects yet.</p>
    {% endfor %}
    </div>
</div>
{% endblock %}
