{% extends 'base.html' %}
{% load tz %}
{% block content %}
<div class="container-fluid pe-5" id="project">
    <div id="project-modal"
        class="modal modal-blur fade"
        style="display: none"
        aria-labelledby="project-modal"
        aria-hidden="true"
        tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
    <div id="project-settings-git-repository-modal"
        class="modal modal-blur fade"
        style="display: none"
        aria-labelledby="project-settings-git-repository-modal"
        aria-hidden="true"
        tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
    <div id="project-pane">
        {% include "project/project/project_pane.html" %}
    </div>
</div>
{% endblock %}
