{% load tz %}
<script>
    function loadTooltips() {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    };
</script>
<div class="row" id="projects-table">
    {% include "project/project/projects_toast.html" %}
    <div id="projects-modal"
        class="modal modal-blur fade"
        style="display: none"
        aria-labelledby="projects-modal"
        aria-hidden="true"
        tabindex="-1">
        <div class="modal-dialog modal-xlg modal-dialog-centered" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
    <div id="projects-new-git-repository-modal"
        class="modal modal-blur fade"
        style="display: none"
        aria-labelledby="projects-new-git-repository-modal"
        aria-hidden="true"
        tabindex="-1">
        <div class="modal-dialog modal-xlg modal-dialog-centered" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
    <table class="table table-striped table-hover" id="projects-table-data">
        <thead>
            <tr>
                <th scope="col">Label</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Organization</th>
                <th scope="col">Date Created</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                {% if project.label %}
            <tr onclick="window.location='{% url 'project' project.label.current.label %}'">
                {% else %}
            <tr onclick="window.location='{% url 'project' project.id %}'">
                {% endif %}
                {% with label=project.label.current.label %}
                {% if label %}
                <th scope="row">{{ project.label.current.label|safe|upper }}</th>
                {% else %}
                <th scope="row"></th>
                {% endif %}
                {% endwith %}
                <th>{{ project.current.name|safe|upper }}</th>
                <td>{{ project.current.description|safe }}</th>
                {% with project_org=project.organizationprojects_set.first %}
                {% if project_org %}
                <td><a href="{% url 'organization' project_org.id %}">{{ project_org.current.name }}</a></td>
                {% else %}
                <td></td>
                {% endif %}
                {% endwith %}
                <td>{{ project.created_on|timezone:logged_in_user.current.timezone }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        new DataTable('#projects-table-data', {
            order: [[4, 'desc']],
            language: {
                emptyTable: 'No projects.',
            },
            drawCallback: function (settings) {
                loadTooltips();
            },
        });
    </script>
</div>
