{% load tz %}
<script>
    function loadTooltips() {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    };
</script>
<div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Project "{{ project.current.name|safe }}" Settings</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <p>
                    {% if logged_in_user.current.timezone %}
                    Created {{ project.created_on|timezone:logged_in_user.current.timezone }}
                    {% else %}
                    Created {{ project.created_on|timezone:"UTC" }}
                    {% endif %}
                    by <a href="{% url 'user' project.created_by.id %}">{{ project.created_by.current.last_name|safe }}, {{ project.created_by.current.first_name|safe }}</a>
                </p>
            </div>
            <div class="row">
                {% with project_org=project.organizationprojects_set.first %}
                {% if project_org %}
                <p>Organization: <a href="{% url 'organization' project_org.id %}">{{ project_org.current.name|safe }}</a></p>
                {% endif %}
                {% endwith %}
            </div>
            <div class="row">
                <div class="accordion" id="project-settings-accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#project-settings-table-content" aria-expanded="true" aria-controls="project-settings-table-content">
                                Project Details
                            </button>
                        </h2>
                        <div id="project-settings-table-content" class="accordion-collapse collapse show" data-bs-parent="#project-settings-accordion">
                            <div class="accordion-body">
                                <form
                                    id="project-settings-form"
                                    hx-post="{% url 'project_settings' project_id %}"
                                    hx-target="#project-settings-modal"
                                    hx-trigger="submit">
                                    {% csrf_token %}
                                    <div class="row align-items-center">
                                        <div class="col-1">
                                            <label for="id_name" class="form-label align-items-bottom">Name:</label>
                                        </div>
                                        <div class="col">
                                            <input type="text" name="name" value="{{ project.current.name|safe }}" class="form-control" id="id_name" required>
                                        </div>
                                    </div>
                                    <div class="row align-items-top">
                                        <div class="col-1">
                                            <label for="id_description" class="form-label">Description:</label>
                                        </div>
                                        <div class="col">
                                            <textarea name="description" class="form-control" id="id_description">{{ project.current.description|safe }}</textarea>
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-1">
                                            <label for="id_label" class="form-label">Label:</label>
                                        </div>
                                        <div class="col">
                                            <input type="text" name="label" value="{{ project.label.current.label|safe }}" class="form-control" id="id_label" required>
                                        </div>
                                        <div class="col-2">
                                            <label for="id_is_active" class="form-label">Is active?</label>
                                        </div>
                                        <div class="col-1 p-0 m-0">
                                            <input type="checkbox" name="is_active" class="form-check-input" id="id_is_active" {% if project.current.is_active %}checked{% endif %}>
                                        </div>
                                        <div class="col-2">
                                            <label for="id_is_private" class="form-label">Is private?</label>
                                        </div>
                                        <div class="col-1 p-0 m-0">
                                            <input type="checkbox" name="is_private" class="form-check-input" id="id_is_private" {% if project.current.is_private %}checked{% endif %}>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p>&nbsp;</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {% include "today_date_selector.html" %}
                                        </div>
                                        <div class="col-md-6">
                                            {% include "unset_date_selector.html" %}
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button
                                            type="submit"
                                            class="btn btn-primary"
                                            data-bs-toggle="modal"
                                            data-bs-target="#project-settings-modal"
                                            form="project-settings-form">
                                            Submit
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#project-settings-component-content" aria-expanded="false" aria-controls="project-settings-component-content">
                            Components
                            </button>
                        </h2>
                        <div id="project-settings-component-content" class="accordion-collapse collapse" data-bs-parent="#project-settings-accordion">
                            <div class="accordion-body">
                                {% include "project/project/project_settings_components_table.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#project-settings-version-content" aria-expanded="false" aria-controls="project-settings-version-content">
                            Versions
                            </button>
                        </h2>
                        <div id="project-settings-version-content" class="accordion-collapse collapse" data-bs-parent="#project-settings-accordion">
                            <div class="accordion-body">
                                {% include "project/project/project_settings_versions_table.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#project-settings-git-repository-content" aria-expanded="false" aria-controls="project-settings-git-repository-content">
                            Git Repositories
                            </button>
                        </h2>
                        <div id="project-settings-git-repository-content" class="accordion-collapse collapse" data-bs-parent="#project-settings-accordion">
                            <div class="accordion-body">
                                {% include "project/project/project_settings_git_repositories_table.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#project-settings-users-content" aria-expanded="false" aria-controls="project-settings-users-content">
                                Users
                            </button>
                        </h2>
                        <div id="project-settings-users-content" class="accordion-collapse collapse" data-bs-parent="#project-settings-accordion">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-2">
                                    <button
                                        hx-get="{% url 'project_settings_user_select' project_id %}"
                                        hx-target="#project-settings-user-select-modal"
                                        hx-swap="innerHTML"
                                        data-bs-toggle="modal"
                                        data-bs-target="#project-settings-user-select-modal"
                                        class="btn primary"><i class="bi bi-pencil"></i></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <table class="table table-striped table-hover" id="project-settings-users-table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Last Name</th>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Email</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in project.users.all %}
                                            <tr>
                                                <td>{{ user.current.last_name|safe }}</th>
                                                <td>{{ user.current.first_name|safe }}</td>
                                                <td>{{ user.current.email|safe }}</td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td class="text-muted">No users associated with this project.</td>  {% comment %} TODO: Link to a new one for this project {% endcomment %}
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#project-settings-modal">Close</button>
        </div>
    </div>
    <script>
        new DataTable('#project-settings-users-table', {
            order: [[0, 'asc']],
            drawCallback: function (settings) {
                loadTooltips();
            },
        });
    </script>
</div>
