<h2 class="my-4">{{ project.current.name }} <button
    hx-get="{% url 'project_settings' project_id %}"
    hx-target="#project-modal"
    data-bs-toggle="modal"
    data-bs-target="#project-modal"
    class="btn primary"><i class="bi bi-gear"></i></button></h2>
{% with project_org=project.organizationprojects_set.first %}
{% if project_org %}
<p>Organization: <a href="{% url 'organization' project_org.id %}">{{ project_org.name }}</a></p>
{% endif %}
{% endwith %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="issues-tab" data-bs-toggle="tab" data-bs-target="#issues-tab-pane" type="button" role="tab" aria-controls="issues-tab-pane" aria-selected="true">Issues</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    {% include "project/project/issues_tab_pane.html" %}
</div>
