[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "==5.4.0"
django = ">=5.0.6"
django-app-metrics = "*"
django-celery = "*"
django-coverage = "*"
django-filter = ">=24.2"
django-extensions = ">=3.2.3"
django-health-check = "*"
django-phone-field = ">=1.8.1"
djangorestframework = ">=3.15.2"
markdown = ">=3.6"

[dev-packages]
ipdb = "*"
ipykernel = "*"
ipython = ">=8.26.0"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
