{% extends 'base.html' %}
{% load tz %}
{% block content %}
  <div class="container-fluid pe-5">
    <h2 class="my-4">Users</h2>
    <p><a href="{% url 'new_user' %}">Make one!</a></p>
    {% for user in users %}
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
            <div class="card h-100 p-4">
                <a href="{% url 'user' user.id %}"><h4>{{ user.current.last_name }}, {{ user.current.first_name }}</h4></a>
                <p class="text-muted">{{ user.current.email }}</p>
                <p class="text-muted">Created {{ user.created_on|timezone:logged_in_user.current.timezone }} by {{ user.created_by.current.last_name }}, {{ user.created_by.current.first_name }}</p>
            </div>
        </div>
    </div>
    {% empty %}
    <p>Once you've created an organization, you'll be able to see its users.</p>
    {% endfor %}
  </div>
{% endblock %}
