<div class="row g-3">
    <div class="col-md-6">
        <label for="id_email" class="form-label">{% if "new_user" not in requestget_full_path %}* {% endif %}* Email address:</label>
        <input type="text" name="email" class="form-control" id="id_email" required {% if user %}value="{{ user.current.email }}"{% endif %}>
    </div>
    {% if "new_user" in request.get_full_path %}
    <div class="col-md-6">
        <label for="id_password" class="form-label">* Password:</label>
        <input type="password" name="password" class="form-control" id="id_password" required></textarea>
    </div>
    {% endif %}
</div>
<div class="row g-3">
    <div class="col-md-2">
        <label for="id_name_prefix" class="form-label">Name prefix:</label>
        <input type="text" name="name_prefix" class="form-control" id="id_name_prefix" {% if user %}value="{{ user.current.name_prefix }}"{% endif %}>
    </div>
    <div class="col-md-4">
        <label for="id_first_name" class="form-label">First name:</label>
        <input type="text" name="first_name" class="form-control" id="id_first_name" {% if user %}value="{{ user.current.first_name }}"{% endif %}>
    </div>
    <div class="col-md-4">
        <label for="id_last_name" class="form-label">Last name:</label>
        <input type="text" name="last_name" class="form-control" id="id_last_name" {% if user %}value="{{ user.current.last_name }}"{% endif %}>
    </div>
    <div class="col-md-2">
        <label for="id_name_suffix" class="form-label">Name suffix:</label>
        <input type="text" name="name_suffix" class="form-control" id="id_name_suffix" {% if user %}value="{{ user.current.name_suffix }}"{% endif %}>
    </div>
</div>
<div class="row g-3">
    <div class="col-md-6">
        <label for="id_secondary_email" class="form-label">Secondary email address:</label>
        <input type="text" name="secondary_email" class="form-control" id="id_secondary_email" {% if user %}value="{{ user.current.secondary_email }}"{% endif %}>
    </div>
</div>
<div class="row g-3">
    <div class="col-md-4">
        <label for="id_home_phone" class="form-label">Home phone:</label>
        <input type="text" name="home_phone" class="form-control" id="id_home_phone" {% if user.current.home_phone %}value="{{ user.current.home_phone }}"{% endif %}>
    </div>
    <div class="col-md-4">
        <label for="id_mobile_phone" class="form-label">Mobile phone:</label>
        <input type="text" name="mobile_phone" class="form-control" id="id_mobile_phone" {% if user.current.mobile_phone %}value="{{ user.current.mobile_phone }}"{% endif %}>
    </div>
    <div class="col-md-4">
        <label for="id_work_phone" class="form-label">Work phone:</label>
        <input type="text" name="work_phone" class="form-control" id="id_work_phone" {% if user.current.work_phone %}value="{{ user.current.work_phone }}"{% endif %}>
    </div>
</div>
<div class="row g-3">
    <div class="col-md-6">
        <label for="id_address_line_1" class="form-label">Address line 1:</label>
        <input type="text" name="address_line_1" class="form-control" id="id_address_line_1" {% if user %}value="{{ user.current.address_line_1 }}"{% endif %}>
    </div>
</div>
<div class="row g-3">
    <div class="col-md-6">
        <label for="id_address_line_2" class="form-label">Address line 2:</label>
        <input type="text" name="address_line_2" class="form-control" id="id_address_line_2" {% if user %}value="{{ user.current.address_line_2 }}"{% endif %}>
    </div>
</div>
<div class="row g-3">
    <div class="col-md-6">
        <label for="id_city" class="form-label">City:</label>
        <input type="text" name="city" class="form-control" id="id_city" {% if user %}value="{{ user.current.city }}"{% endif %}>
    </div>
</div>
<div class="row g-3">
    <div class="col-md-6">
        <label for="id_state" class="form-label">State:</label>
        <input type="text" name="state" class="form-control" id="id_state" {% if user %}value="{{ user.current.state }}"{% endif %}>
    </div>
</div>
<div class="row g-3">
    <div class="col-md-6">
        <label for="id_postal_code" class="form-label">Postal code:</label>
        <input type="text" name="postal_code" class="form-control" id="id_postal_code" {% if user %}value="{{ user.current.postal_code }}"{% endif %}>
    </div>
</div>
<div class="row g-3">
    <div class="col-md-6">
        <label for="id_country" class="form-label">Country:</label>
        <select name="country" class="form-select" id="id_country">
            {% for country_choice in country_names %}
            {% with country_choice.1 as country_name %}
            {% if user %}
            <option value="{{ country_name }}" {% if user.current.country == country_name %}selected{% endif %}>{{ country_name }}</option>
            {% else %}
            <option value="{{ country_name }}">{{ country_name }}</option>
            {% endif %}
            {% endwith %}
            {% endfor %}
        </select>
    </div>
    <div class="col-md-6">
        <label for="id_timezone" class="form-label">Timezone:</label>
        <select name="timezone" class="form-select" id="id_timezone">
            {% for timezone_choice in timezone_choices %}
            {% with timezone_choice.0 as timezone_name %}
            {% if user %}
            <option value="{{ timezone_name }}" {% if user.current.timezone == timezone_name %}selected{% endif %}>{{ timezone_name }}</option>
            {% else %}
            <option value="{{ timezone_name }}">{{ timezone_name }}</option>
            {% endif %}
            {% endwith %}
            {% endfor %}
        </select>
    </div>
</div>