<div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{ git_repository.current.name|safe|upper }}</h5>
        </div>
        <form>
            <div class="modal-body">
                {% csrf_token %}
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>{{ git_repository_form.name.label_tag }}</td>
                            <td>{{ git_repository_form.name }}</td>
                        </tr>
                        <tr>
                            <td>{{ git_repository_form.description.label_tag }}</td>
                            <td>{{ git_repository_form.description }}</td>
                        </tr>
                        <tr>
                            <td>{{ git_repository_form.url.label_tag }}</td>
                            <td>{{ git_repository_form.url }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <tbody>
                        {% if organization %}
                        <tr>
                            <td>In Organization:</td>
                            <td>{{ organization.current.name }}</td>
                        </tr>
                        {% else %}
                        <tr></tr>
                        {% endif %}
                        {% if project %}
                        <tr>
                            <td>Used by Project:</td>
                            <td>{{ project.current.name }}</td>
                        </tr>
                        {% else %}
                        <tr><td></td><td></td></tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            <input type="hidden" name="reporter" value="{{ logged_in_user.id }}">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
</div>