{% if organization %}
<tr>
    <td>In Organization:</td>
    <td><a href="{% url 'organization' organization.id %}">{{ organization.current.name }}</a></td>
    <td>
        <!-- TODO: Allow moving git repositories to antoher organization -->
        {% comment %} <div class="dropend">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Move to another Organization...
            </button>
            <ul class="dropdown-menu">
                {% for organization in organizations %}
                <li><a class="dropdown-item" href="#">{{ organization.current.name }}</a></li>
                {% endfor %}
            </ul>
        </div> {% endcomment %}
    </td>
</tr>
{% else %}
<tr><td></td><td></td><td></td></tr>
{% endif %}
