{% if project %}
<tr>
    <td>Used by Project:</td>
    {% if project.label %}
    <td><a href="{% url 'project' project.label.current.label %}">{{ project.current.name }}</a></td>
    {% else %}
    <td><a href="{% url 'project' project.id %}">{{ project.current.name }}</a></td>
    {% endif %}
    <td>
        <!-- TODO: Allow moving git repositories to antoher project -->
        {% comment %} <div class="dropend">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Move to another Project...
            </button>
            <ul class="dropdown-menu">
                {% for project in projects %}
                <li><a class="dropdown-item" href="#">{{ project.current.name }}</a></li>
                {% endfor %}
            </ul>
        </div> {% endcomment %}
    </td>
</tr>
{% else %}
<tr><td></td><td></td><td></td></tr>
{% endif %}
