{% load tz %}
<script>
    function loadTooltips() {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    };
</script>

<div class="row" id="users-table">
    <table class="table table-striped table-hover" id="users-table-data">
        <thead>
            <tr>
                <th scope="col">Last Name</th>
                <th scope="col">First Name</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
        {% for user in members %}  {% comment %} TODO: Handle clicking a user {% endcomment %}
            <tr>
                <td>{{ user.current.last_name }}</th>
                <td>{{ user.current.first_name }}</td>
                <td>{{ user.current.email }}</td>
            </tr>
        {% empty %}
            <tr>
                <td class="text-muted">No members in this organization.</td>  {% comment %} TODO: Link to a new one for this project {% endcomment %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        new DataTable('#users-table-data', {
            order: [[4, 'desc']],
            language: {
                emptyTable: 'No members in this organization.',
            },
            drawCallback: function (settings) {
                loadTooltips();
            },
        });
    </script>
</div>