{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <h2 class="my-4">{{ logged_in_user.core_data.email }}</h2>
    {% include "messages.html" %}
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
        {% for field in user_data_form %}
        <tr>
          <td>{{ field.label_tag }}</td>
          <td>{{ field }}</td>
        </tr>
        {% endfor %}
      </table>
      <button class="btn btn-primary my-4" type="submit">Submit</button>
    </form>
  </div>
{% endblock %}
