<div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{ issue.project.label.current.name.name|safe|upper }}-{{ issue.sequence|stringformat:"s" }}{% if issue.built_in_built_in_status.name %}: {{ issue.built_in_built_in_status.name }}{% endif %}</h5>
        </div>
        <form>
            <div class="modal-body">
                {% csrf_token %}
                <table class="table table-hover">
                    <tr>
                        <td>{{ issue_form.reporter.label_tag }}</td>
                        <td colspan="7">{{ issue.reporter.current.email }}</td>
                    </tr>
                    <tr>
                        <td>{{ issue_form.project.label_tag }}</td>
                        <td>
                            <select name="project">
                            {% for known_project in projects %}
                                {% if project_id and project_id|stringformat:"s" == known_project.id|stringformat:"s" %}
                                    <option value="{{ known_project.id }}" selected>{{ known_project.current.name }}</option>
                                {% else %}
                                    <option value="{{ known_project.id }}">{{ known_project.current.name }}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </td>
                        <td>{{ issue_form.component.label_tag }}</td>
                        <td>
                            <select name="component">
                            {% for component in issue_components %}
                                {% if issue.component.current.name == component.current.name %}
                                    <option value="{{ component.id|stringformat:"s" }}" selected>{{ component.current.name }}</option>
                                {% else %}
                                    <option value="{{ component.id|stringformat:"s" }}">{{ component.current.name}}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </td>
                        <td>{{ issue_form.version.label_tag }}</td>
                        <td colspan="3">
                            <select name="version">
                            {% for version in issue_versions %}
                                {% if issue.version.current.name == version.current.name %}
                                    <option value="{{ version.id|stringformat:"s" }}" selected>{{ version.current.name }}</option>
                                {% else %}
                                    <option value="{{ version.id|stringformat:"s" }}">{{ version.current.name}}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="id_built_in_type">Type:</label></td>
                        <td>
                            <select name="built_in_type">
                            {% for type in issue_types %}
                                {% if issue.built_in_type.type == type.type %}
                                    <option value="{{ type.id|stringformat:"s" }}" selected>{{ type.type }}</option>
                                {% else %}
                                    <option value="{{ type.id|stringformat:"s" }}">{{ type.type}}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </td>
                        <td><label for="id_built_in_priority">Priority:</label></td>
                        <td>
                            <select name="built_in_priority">
                            {% for priority in issue_priorities %}
                                {% if issue.built_in_priority.name == priority.name %}
                                <option value="{{ priority.id|stringformat:"s" }}" selected>{{ priority.name }}</option>
                                {% else %}
                                <option value="{{ priority.id|stringformat:"s" }}">{{ priority.name}}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </td>
                        <td><label for="id_built_in_severity">Severity:</label></td>
                        <td>
                            <select name="built_in_severity">
                            {% for severity in issue_severities %}
                                {% if issue.built_in_severity.name == severity.name %}
                                <option value="{{ severity.id|stringformat:"s" }}" selected>{{ severity.name }}</option>
                                {% else %}
                                <option value="{{ severity.id|stringformat:"s" }}">{{ severity.name}}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ issue_form.summary.label_tag }}</td>
                        <td>{{ issue_form.summary }}</td>
                        <td><label for="id_built_in_status">Status:</label></td>
                        <td colspan="7">
                            <select name="built_in_status">
                            {% for status in issue_statuses %}
                                {% if issue.built_in_built_in_status.name == status.name %}
                                <option value="{{ status.id|stringformat:"s" }}" selected>{{ status.name }}</option>
                                {% else %}
                                <option value="{{ status.id|stringformat:"s" }}">{{ status.name}}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ issue_form.description.label_tag }}</td>
                        <td colspan="7">{{ issue_form.description }}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            <input type="hidden" name="reporter" value="{{ logged_in_user.id }}">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
</div>
