<div class="row">
    <div class="col col-md-6">
        <label for="project" class="form-label">Project:</label>
        <select class="form-select" name="project">
            <option value="">-----</option>
            {% for known_project in projects %}
            {% if issue.project.id and issue.project.id|stringformat:"s" == known_project.id|stringformat:"s" %}
            <option value="{{ known_project.id }}" selected>{{ known_project.current.name }}</option>
            {% else %}
            <option value="{{ known_project.id }}">{{ known_project.current.name }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="col-md-3">
        <label for="component" class="form-label">Component:</label>
        <select class="form-select" name="component">
            <option value="">-----</option>
            {% for component in issue_components %}
            {% if issue.current.component and issue.current.component.id|stringformat:"s" == component.id|stringformat:"s" %}
            <option value="{{ component.id|stringformat:"s" }}" selected>{{ component.current.name }}</option>
            {% else %}
            <option value="{{ component.id|stringformat:"s" }}">{{ component.current.name}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="col-md-3">
        <label for="id_version" class="form-label">Version:</label>
        <select class="form-select" name="version">
            <option value="">-----</option>
            {% for version in issue_versions %}
            {% if issue.current.version and issue.current.version.id|stringformat:"s" == version.id|stringformat:"s" %}
            <option value="{{ version.id|stringformat:"s" }}" selected>{{ version.current.name }}</option>
            {% else %}
            <option value="{{ version.id|stringformat:"s" }}">{{ version.current.name}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label for="id_built_in_type" class="form-label">Type:</label>
        <select class="form-select" name="built_in_type">
            <option value="">-----</option>
            {% for type in issue_types %}
            {% if issue.current.built_in_type and issue.current.built_in_type.id|stringformat:"s" == type.id|stringformat:"s" %}
            <option value="{{ type.id|stringformat:"s" }}" selected>{{ type.type }}</option>
            {% else %}
            <option value="{{ type.id|stringformat:"s" }}">{{ type.type}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="col-md-3">
        <label for="id_built_in_priority" class="form-label">Priority:</label>
        <select class="form-select" name="built_in_priority">
            <option value="">-----</option>
            {% for priority in issue_priorities %}
            {% if issue.current.built_in_priority and issue.current.built_in_priority.id|stringformat:"s" == priority.id|stringformat:"s" %}
            <option value="{{ priority.id|stringformat:"s" }}" selected>{{ priority.name }}</option>
            {% else %}
            <option value="{{ priority.id|stringformat:"s" }}">{{ priority.name}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="col-md-3">
        <label for="id_built_in_severity" class="form-label">Severity:</label>
        <select class="form-select" name="built_in_severity">
            <option value="">-----</option>
            {% for severity in issue_severities %}
            {% if issue.current.built_in_severity and issue.current.built_in_severity.id|stringformat:"s" == severity.id|stringformat:"s" %}
            <option value="{{ severity.id|stringformat:"s" }}" selected>{{ severity.name }}</option>
            {% else %}
            <option value="{{ severity.id|stringformat:"s" }}">{{ severity.name}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="col-md-3">
        <label for="id_built_in_status" class="form-label">Status:</label>
        <select class="form-select" name="built_in_status">
            <option value="">-----</option>
            {% for status in issue_statuses %}
            {% if issue.current.built_in_status and issue.current.built_in_status.id|stringformat:"s" == status.id|stringformat:"s" %}
            <option value="{{ status.id|stringformat:"s" }}" selected>{{ status.name }}</option>
            {% else %}
            <option value="{{ status.id|stringformat:"s" }}">{{ status.name}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
</div>
<div class="row">
    <div class="col">
        <label for="summary" class="form-label">Summary:</label>
        <input type="text" name="summary" class="form-control" id="summary" value="{{ issue.current.summary }}">
    </div>
</div>
<div class="row">
    <div class="col">
        <label for="description" class="form-label">Description:</label>
        <textarea name="description" class="form-control" rows=4 id="id_description">{{ issue.current.description }}</textarea>
    </div>
</div>
