{% if user.is_authenticated %}
<div>
    <p class="text-muted">
        Welcome,
    <a href="{% url 'user' logged_in_user.id %}">
    {% if logged_in_user.current.first_name %}
    {{ logged_in_user.current.first_name }} ({{ logged_in_user.current.email }})
    {% else %}
    {{ logged_in_user.current.email }}
    {% endif %}
    </a>
    !
    </p>
</div>
<div>
    <p><a href="/logout">Logout</a></p>
</div>
<div>
    <p><a href="/git_repositories">Git Repositories</a></p>
</div>
<div>
    <p><a href="/projects">Projects</a></p>
</div>
<div>
    <p><a href="/issues">Issues</a></p>
</div>
<div>
    <p><a href="/organizations">Organizations</a></p>
</div>
<div>
    <p><a href="/users">Users</a></p>
</div>
{% else %}
<div>
    <a href="/signup">Signup</a>
</div>
{% endif %}
