{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <!-- Django Model Form -->
    <h2 class="my-4">Add a new user</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ new_user_form }}
      <button class="btn btn-primary my-4" type="submit">Submit</button>
    </form>
    <!-- Django Model -->
    <h2 class="my-4">Users</h2>
    <div class="row">
      {% for user in users %}
        <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
          <div class="card h-100 p-4">
            <h4>{{ user.core_user_data.last_name }}, {{ user.core_user_data.first_name }}</h4>
            <p class="text-muted">{{ user.core_user_data.email }}</p>
          </div>
        </div>
      {% empty %}
        <p>No users yet.</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
