# Enable debug mode for local development
# This should be set to False in production environments
DEBUG=True
# Enable local settings
# This should be set to False in production environments
LOCAL=True
# The Django secret key
# This should be a unique, unpredictable value in production, most likely set in a container environment variable, not in this file
# To generate a new secret key, you can use Django's `get_random_secret_key()` function in a Django shell
# Example: from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())
DJANGO_SECRET_KEY=your-secret-key-here
# Database configuration
# Update these settings according to your database setup
# Example for PostgreSQL:
# DATABASE_URL=postgres://user:password@db.example.com:5432/production_db?sslmode=require
DATABASE_URL=
